<body class="text-center bg-light">

  <main class="form-signin bg-white">
    <form #myForm="ngForm" (ngSubmit)="signUp()"> 
      <h1 class="h3 mb-3 fw-normal">
        <strong>Sign Up</strong>
      </h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" #password id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingRepeatPassword" placeholder="Repeat Password">
        <label for="floatingRepeatPassword">Repeat Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary btn-google" type="submit">Sign Up</button>
    </form>
    <hr>

    <button class="w-100 btn btn-lg btn-white btn-google">Sign Up With Google</button>
    <button class="w-100 btn btn-lg btn-primary btn-google">Sign Up With Facebook</button>

    Already have an account? <a class="text-muted">Sign In</a>
  </main>

</body>
