<body class="text-center bg-light">

  <main class="form-signin bg-white">
    <form>
      <h1 class="h3 mb-3 fw-normal">
        <strong>Forgot Password</strong>
      </h1>
      Please enter email to receive instructions on how to reset your password
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary btn-google" type="submit">Reset Password</button>
    </form>
  </main>

</body>
