<div class="row my-4 bg-light">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Store Name</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Store Description Would Go Here</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4">Contact</button>
        <button type="button" class="btn btn-primary btn-lg px-4">Share</button>
        <button type="button" class="btn btn-outline-primary btn-lg px-4">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-12 col-md-6 col-lg-3 col-sm-12 mb-4" *ngFor="let product of products">
    <app-item-view [product]="product"></app-item-view>
  </div>
</div>

